.Contacto{
    margin-top: 100px;
    width: 100%;
    background-color: #E1E1E1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 64px 0;
}

.title{
    text-align: center;
    color: #404145;
    font-size: 1.5rem 0.12rem;
    display: inline-block;
    margin: auto;
}



.container{
    width: 80%;
}

.info{
    margin: 30px auto;
    display: flex;
}

.info > span{
    padding: 5px;
    letter-spacing: 0.10rem;
    text-decoration: none;
    color: #404145;
}

.LinksContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LinksContainer > p{
    font-weight: bold;
    letter-spacing: 0.10rem;
    text-decoration: none;
    color: #404145;
}

@media (min-width: 500px){
    .container{
        width: 50%;
    }
    
}